/* TŁA */

body{
    background-color: white;
}

#board{
    fill: papayawhip;
    stroke: black;
}

#keyboardBackground{
    fill: burlywood;
    stroke: black;
}

/* TEKSTY */

#themeText, #waveText, #authorText, #logoText, #recordInfo {
    fill: black;
}

/* KLAWISZE */
.white.unpressed{
    fill: white;
}

.white.pressed{
    fill: chocolate;
}

.black.unpressed{
    fill: black;
}

.black.pressed{
    fill: maroon;
}

.key {  /* obwoluta klawiszy */
    stroke: black;
}

/* FALE AKUSTYCZNE */

.shape{
    stroke: black;
}

.shape:hover{
    stroke: red;
}

.shape.checked{
    stroke: green;
}

/* PANEL KONTROLNY*/

.control{
    fill: black;
}

/* MOTYW */

.theme{
    fill: black;
}

.theme:hover{
    fill: red;
}

.theme.checked{
    fill: green;
}
