/* TŁA */

body{
    background-color: lightgreen;
}

#board{
    fill: gold;
    stroke: white;
}

#keyboardBackground{
    fill: orchid;
    stroke: white;
}

/* TEKSTY */

#themeText, #waveText, #authorText, #logoText, #recordInfo{
    fill: darkred;
}

/* KLAWISZE */
.white.unpressed{
    fill: white;
}

.white.pressed{
    fill: gold;
}

.black.unpressed{
    fill: black;
}

.black.pressed{
    fill: blue;
}

.key {  /* obwoluta klawiszy */
    stroke: DimGray;
}

/* FALE AKUSTYCZNE */

.shape{
    stroke: darkslateblue;
}

.shape:hover{
    stroke: red;
}

.shape.checked{
    stroke: green;
}

/* PANEL KONTROLNY*/

.control{
    fill: darkslateblue;
}

/* MOTYW */

.theme{
    fill: darkslateblue;
}

.theme:hover{
    fill: red;
}

.theme.checked{
    fill: green;
}
