.white.unpressed{
    fill: white;
}

.white.pressed{
    fill: blue;
}

.black.unpressed{
    fill: black;
}

.black.pressed{
    fill: green;
}

.noteName.unpressed{
    font-size: 75%;
    font-weight: 100;
}

.noteName.pressed{
    font-size: 85%;
    font-weight: 500;
}

#keyboardBackground{
    fill: lightgrey;
    stroke: black;
}

#board{
    fill: black;
    stroke: grey;
}

.shape{
    stroke: white;
    fill: none;
    stroke-width: 3;
}

.shape:hover{
    stroke: red;
    stroke-width: 5;
}

.shape.checked{
    stroke: green;
}

.theme{
    fill: white;
    font-size: 75%;
    font-weight: 100;
}

.theme:hover{
    fill: red;
    font-size: 95%;
    font-weight: 1000;
}

.theme.checked{
    fill: green;
}

body{
    background-color: black;
}

#themeText, #waveText, #authorText, #logoText{
    fill: white;
}
