/* TEKSTY */

#themeText, #waveText, #authorText, #logoText, #recordInfo {
    user-select: none;
}

/* NOTACJA */

.noteName{
    text-anchor: middle;
    font-family: Arial;
    user-select: none;
}

.noteName.unpressed{
    font-size: 75%;
    font-weight: 100;
}

.noteName.pressed{
    font-size: 85%;
    font-weight: 500;
}

/* FALE AKUSTYCZNE*/

.shape{
    fill: none;
    stroke-width: 3;
    user-select: none;
}

@media (hover: hover) {
    .shape:hover{
        stroke-width: 5;
        cursor: pointer;
    }   
}

/* PANEL KONTROLNY */

.control{
    user-select: none;
}

@media (hover: hover) {
    .control:hover{
        stroke: orange;
        stroke-width: 3;
        cursor: pointer;
    }
}

.control.checked{
    stroke: green;
    stroke-width: 3;
}

#record{
    fill: red;
}

/* MOTYWY */

.theme{
    font-size: 75%;
    font-weight: 100;
    user-select: none;
}

@media (hover: hover) {
    .theme:hover{
        font-size: 95%;
        font-weight: 1000;
        cursor: pointer;
    }
}