
.theme:hover{
    fill: red;
    font-size: 95%;
    font-weight: 1000;
    cursor: pointer;
}

.shape:hover{
    stroke: red;
    stroke-width: 5;
    cursor: pointer;
}


#record{
    fill: red;
}

.control:hover{
    stroke: orange;
    stroke-width: 3;
    cursor: pointer;
}

.control.checked{
    stroke: green;
    stroke-width: 3;
}
